# Testing
**/.pytest_cache/*

# Frontend
**/node_modules/*

# Test Images
**/imgs/*

# Static Images from DB
**/assets/*

# Docker Volumes
.pgadmin-data
.pgdata
.redis-conf
.redis-data

# Styleguide (Personal)
styleguide.md