# Testing
**/.pytest_cache/*
**/.sandbox/*

# Frontend
**/node_modules/*

# Virtual Environment
env/*

# Test Images
**/imgs/*

# Static Images from DB
**/assets/*

# Docker Volumes
.pgadmin-data
.pgdata
.redis-conf
.redis-data

# Styleguide (Personal)
styleguide.md
.DS_Store