[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
websocket = "*"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
