.gameForm-container {
    padding: 0.8em 1.5em;
    background-color: var(--color-bg);
}



.icon-container {
    margin: 0 1em;
}
.icon,
.icon-name {
    width: 100px;
}
.icon-name {
    margin: 0;
    word-wrap: normal;
    text-align: center;
}
