.Home {
    display: inline-grid;
    grid-template-rows: auto auto;
    row-gap: 20px;

    > .Button {
        width: 100%;
    }
}
.Home-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: fit-content;
    }

    h1 {
        font-weight: 500;
    }
}

.Session {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}
.Session-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Join > form,
.Create > form {
    > .Button,
    > .TextInput,
    > .SelectInput {
        width: 100%;
    }
}