.Home {
    display: inline-grid;
    grid-template-rows: auto auto;
    row-gap: 20px;

    > .Button {
        width: 100%;
    }
}

.Session {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

.Join > form,
.Create > form {
    > .Button,
    > .TextInput,
    > .SelectInput {
        width: 100%;
    }
}