@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap);
:root {
  --color-bg: rgb(15, 15, 15);
  --color-text: rgb(235, 235, 235);
}

html {
  margin: 0;
}

body {
  margin: 0;
  color: rgb(235, 235, 235);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}

label {
  font-weight: 300;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  background-color: var(--color-bg);
}
.Home {
  display: inline-grid;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  row-gap: 20px;
}
.Home > .Button {
  width: 100%;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home-header img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Home-header h1 {
  font-weight: 500;
}

.Session {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.Session-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Join > form > .Button,
.Join > form > .TextInput,
.Join > form > .SelectInput,
.Create > form > .Button,
.Create > form > .TextInput,
.Create > form > .SelectInput {
  width: 100%;
}
.gameForm-container {
  padding: 0.8em 1.5em;
  background-color: var(--color-bg);
}

.icon-container {
  margin: 0 1em;
}

.icon,
.icon-name {
  width: 100px;
}

.icon-name {
  margin: 0;
  word-wrap: normal;
  text-align: center;
}
.Button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Button button {
  position: relative;
  width: 100%;
  padding: 1.6em 2.2em;
  background-color: var(--color-bg);
  border: transparent;
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}
.Button button:focus {
  outline: none;
  border: 1px solid var(--color-text);
}
.Button button:hover {
  cursor: pointer;
}
.Button button:hover::before {
  -webkit-animation: TopRightAnimate 0.3s linear forwards;
          animation: TopRightAnimate 0.3s linear forwards;
}
.Button button:hover::after {
  -webkit-animation: BottomLeftAnimate 0.3s linear forwards;
          animation: BottomLeftAnimate 0.3s linear forwards;
}
.Button button::before, .Button button::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0.25em;
}
@-webkit-keyframes TopRightAnimate {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--color-text);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--color-text);
    border-right-color: var(--color-text);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: var(--color-text);
    border-right-color: var(--color-text);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes TopRightAnimate {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--color-text);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--color-text);
    border-right-color: var(--color-text);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: var(--color-text);
    border-right-color: var(--color-text);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@-webkit-keyframes BottomLeftAnimate {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--color-text);
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--color-text);
    border-left-color: var(--color-text);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--color-text);
    border-left-color: var(--color-text);
  }
}
@keyframes BottomLeftAnimate {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--color-text);
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--color-text);
    border-left-color: var(--color-text);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--color-text);
    border-left-color: var(--color-text);
  }
}

.TextInput,
.SelectInput {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  row-gap: 5px;
  margin: 10px 0;
}
.TextInput label,
.SelectInput label {
  display: block;
}
.TextInput select, .TextInput input,
.SelectInput select,
.SelectInput input {
  padding: 0.6em 0.8em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.SelectInput select {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.SelectInput option {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.playerCard,
.playerCard-header,
.playerCard-content,
.playerCard-character,
.playerCard-perks,
.playerCard-item,
.playerCard-power,
.playerCard-offering {
  display: flex;
  padding: 1.4em 0.3em;
}

.playerCard-perks {
  flex-direction: row;
}

.playerCard,
.playerCard-header,
.playerCard-character {
  flex-direction: column;
}

.playerCard {
  border: 1px solid var(--color-text);
}

.playerCard-form-container > form {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

@media only screen and (max-width: 1096px) {
  .playerCard-perks {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 15px;
    row-gap: 15px;
  }
}
