.Icon {
    position: relative;
    margin: 0;
    width: fit-content;

    &:hover {
        .Icon-info {
            display: block;
    
        }
    }
}
.Icon-bg {
    display: block;
    position: absolute;
}
.Icon-border {
    cursor: pointer;
    position: absolute;
    z-Index: var(--zIndex-9);
    top: 13%;
    left: 12%;
    transform: rotate(45deg);

    width: calc(40px + 4.5vw);
    height: calc(40px + 4.5vw);
    max-width: 60px;
    max-height: 60px;
    border: 2px solid transparent;

    transition: 0.2s border-color ease-out;

    &:hover {
        border-color: #FFF;

        transition: 0.2s border-color ease-out;
    }
}
.Icon-image {
    display: block;
    position: relative;
    z-index: var(--zIndex-1);
    
}
.Icon--md .Icon-image,
.Icon--md .Icon-bg {
    width: calc(40px + 4.5vw);
    max-width: 85px;
}
.Icon--sm .Icon-image,
.Icon--sm .Icon-bg {
    width: calc(28px + 3.5vw);
    max-width: 70px;
}

.Icon-info {
    display: none;
    position: absolute;
    z-index: var(--zIndex-9);
    top: 100%;
    right: -200%;

    width: 400px;
    max-height: 500px;
    overflow-y: auto;

    background-color: var(--color-bg-overlay);
    border: 1px solid var(--color-border);
}
.Icon-info-tier {
    font-weight: 700;
}
.Icon-info-quote {
    padding: 1rem 1.2rem;   
    padding-top: 0; 
}
.Icon-info-header,
.Icon-info-description {
    padding: 0.8rem 1.2rem;    
}
.Icon-info-header {
    font-size: 1.1rem;
}
.Icon-info-owner,
.Icon-info-quote,
.Icon-info-rarity,
.Icon-info-description {
    font-size: 0.9rem;
}
.Icon-info-quote {
    margin: 0.5em 0;
    font-style: italic;
}
.Icon-info-description {
    white-space: pre-wrap;
}

.Icon--common {
    background-color: var(--color-common);
}
.Icon--uncommon {
    background-color: var(--color-uncommon);
}
.Icon--rare {
    background-color: var(--color-rare);
}
.Icon--very-rare {
    background-color: var(--color-very-rare);
}
.Icon--ultra-rare {
    background-color: var(--color-ultra-rare);
}
.Icon--event {
    background-color: var(--color-event);
}

/*
Styles for the IconWindow component

.IconWindow-main-image-extras               - For Killers: Extra 2nd/3rd images for their powers
*/

.IconWindow,
.IconWindow--hidden {
    position: fixed; 
    z-index: var(--zIndex-9);   

    display: grid;
    grid-template-areas:
    "header"
    "main";
    grid-template-rows: 15% 85%;

    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);

    transition: 0.5s bottom;

    /* IconWindow variables */
    --button-height: 1.5em;
}
.IconWindow {
    bottom: 0;
}
.IconWindow--hidden {
    bottom: calc(-100% + var(--button-height));
}
.IconWindow-content {
    margin-left: 2.5em;
}
.IconWindow-header {
    grid-area: header;

    display: grid;
    grid-template-areas:
    "toggle"
    "header-content";
    height: 100%;
}
.IconWindow-header-toggle {
    grid-area: toggle;
    height: fit-content;

    &:hover {

        > button {
            cursor: pointer;

            font-weight: 600;
            transition: var(--msecs-500) font-weight;
        }
    }

    > button {
        width: 100%;
        height: var(--button-height);

        margin: 0;
        padding: 0;
        border: 0;

        background-color: transparent;
        color: var(--color-text);

        font-size: calc(var(--button-height) - 0.4em);
        font-weight: 300;
        transition: var(--msecs-500) font-weight;

        &:focus {
            outline: none;
        }
    }
}
.IconWindow-header-name {
    h1 {
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%);
        column-gap: 0.3em;

        margin: 0;

        font-size: calc(2em + 1vw);
    }
}
.IconWindow-header-content {
    grid-area: header-content;
}
.IconWindow-header-class {
    display: grid;
    grid-template-columns: 
    fit-content(100%) 
    fit-content(100%) 
    fit-content(100%);
    column-gap: 0.25em;

    font-size: calc(1em + 0.3vw);
}

.IconWindow-main {
    grid-area: main;

    display: grid;
    grid-template-areas: 
    "description image"
    "separator separator"
    "stats stats";
    grid-template-columns: auto 45%;

    margin-top: 2em;

    overflow-y: auto;
}
.IconWindow-main-description {
    grid-area: description;

    display: grid;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    row-gap: 1.5em;

    font-size: calc(1em + 0.3vw);
    line-height: 160%;
}
.IconWindow-main-description-text {
    white-space: pre-wrap;
}
.IconWindow-main-description-quote {
    white-space: pre-wrap;

    margin-top: 0.3em;
}
.IconWindow-main-image {
    grid-area: image;

    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    row-gap: 2em;

    width: 100%;

    > img {
        width: calc(125px + 5vw);
    }
}
.IconWindow-main-image-extras {
    display: grid;
    row-gap: 1em;

    img {
        width: calc(100px + 4vw)
    }
}
.IconWindow-main-separator {
    grid-area: separator;
}
.IconWindow-main-stats {
    grid-area: stats;
}