.Player {
    display: grid;
    grid-template-rows: fit-content(100%) auto;
    grid-template-areas: 
    "header"
    "left";    
    // grid-template-columns: 1fr 1fr;
    // grid-template-areas: 
    // "header header"
    // "left right";
    column-gap: 2.4em;

    max-width: 1280px;
}

/*
The info bar displaying the Player's type, name, and ID 

.Player-info-icon > img     - The Player's player type icon
*/
.PlayerInfo {
    grid-area: header;
    
    display: grid;
    align-items: end;
    grid-template-columns: 
    fit-content(100%) 
    fit-content(100%) 
    fit-content(100%) 
    fit-content(100%);

    margin: 0.6em 0;
}
.PlayerInfo-icon {
    display: grid;
    align-items: center;
}
.PlayerInfo-icon > img {
    width: 30px;
}
.PlayerInfo-name-id {
    display: flex;
    align-items: flex-end;
}
.PlayerInfo-name,
.PlayerInfo-id {
    margin-right: 0.3em;
}
.PlayerInfo-name {
    margin-left: 0.4em;
    
    font-size: 24px;
    font-weight: 300;
}
.PlayerInfo-id {
    font-size: 18px;
    font-weight: 600;
}
.PlayerInfo-host,
.PlayerInfo-obsession {
    position: relative;
    display: flex;
    align-items: center;

    > img {
        position: relative;
        width: 40px;
        top: 5px;
    }
}


/*
The player's assets (character, perks, item/power, add-ons, offering)
*/
.Player-assets {
    grid-area: left;
    display: grid;
    // grid-template-rows: fit-content(100%) auto auto;
    grid-template-areas: 
    "character resource"
    "offering perks"
    "checkbox checkbox"
    "button button";
    align-items: center;
    column-gap: 2em;
    row-gap: 1.4em;
}
.Player-button {
    grid-area: button;
    align-self: end;
}
.Player-assets-top {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

/*
The Player's character and associated name

.PlayerCharacter            - Container for Character assets
.PlayerCharacter-image > img     - The Character's portrait image 
.PlayerCharacter-name > span     - The Character's name 

Maximum width of the component is calc(50px + 6vw)
*/
.PlayerCharacter {
    grid-area: character;

    display: inline-grid;
    grid-template-rows: fit-content(100%) fit-content(100%);
    
    justify-items: center;
    width: fit-content;
}
.PlayerCharacter-image {
    width: calc(50px + 6vw);

    > img {
        width: 100%;
    }
}
.PlayerCharacter-name {
    text-align: center;
    max-width: calc(50px + 6vw);
}
.Player--lg .PlayerCharacter-name > span {
    font-size: 20px;
    font-weight: 600;
}

/*
The container for the Player's 4 Perks.

.Player-perkset             - A set of 2 Player Perks
*/
.PlayerPerks {
    grid-area: perks;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;    
    justify-items: center;
}
.Player-perkset {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    column-gap: 0.8em;
    margin: 0 0.6em;
    grid-template-columns: fit-content(100%) fit-content(100%);
}


/*
Styles for the Player's Item/Power and Offering assets.

.Player-plus-sign           - The '+' character between the 2 Item/Power add-ons
*/
.Player-resources {
    grid-area: resource;
    justify-self: center;

    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    column-gap: calc(0.8em + 0.5vw);
    width: fit-content;
}
.PlayerAddons {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.Player-plus-sign {
    font-size: calc(24px + 1vw);
    font-weight: 600;
    color: var(--color-text);

    margin: auto 0.2em;
}
.PlayerOffering {
    grid-area: offering;

    display: grid;
    justify-items: center;
    align-items: center;
}
.Player-checkbox {
    grid-area: checkbox;
}


.Player-stats {
    grid-area: right;
}
.Player-stats-header {
    margin: 0;
    margin-bottom: 0.5em;
}


/*
Styles for the PlayerStatList component

*/
.PlayerStatList {

    &:hover {
        cursor: pointer;

        .PlayerStatList-header-line { 
            background-color: var(--color-link);
            transition: background-color var(--msecs-300);
        }
        .PlayerStatList-header-text {
            color: var(--color-link);
            transition: color var(--msecs-300);
        }
    }
}
.PlayerStatList-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}
.PlayerStatList-header--active {       
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    
    width: 100%;
    max-width: 600px;
    min-width: 300px;

    .PlayerStatList-header-line {
        background-color: var(--color-link);
    }

    .PlayerStatList-header-text {
        color: var(--color-link);
    }
}
.PlayerStatList-header-line {
    height: 2px;
    background-color: var(--color-inactive);
    align-self: center;
    transition: background-color var(--msecs-300);
}
.PlayerStatList-header-text {
    width: 110px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-inactive);
    transition: color var(--msecs-300);
}
.PlayerStatList-content {
    overflow-y: scroll;
    max-height: 220px;
}

@media only screen and (min-width: 1250px) {
    .PlayerPerks .Player-perkset:first-child {
        justify-self: end;
    }
    .PlayerPerks .Player-perkset:last-child {
        justify-self: start;
    }    
}

/* Make perks occupy 2 rows */
@media only screen and (max-width: 1250px) {
    .PlayerPerks {
        grid-template-rows: fit-content(100%) fit-content(100%);
        grid-template-columns: none;
        row-gap: 0.5em;
        column-gap: 0;
    }
}


@media only screen and (max-width: 950px) {
    .Player {
        grid-template-rows: fit-content(100%) auto;
        grid-template-columns: none;
        grid-template-areas: 
        "header"
        "left";
    }    
    .Player-perkset {
        grid-template-columns: fit-content(100%) fit-content(100%);
    }
    .Player-stats {
        margin-top: 2.4em;
    }
}