.scrollbar {
    margin-right: 0.3em;
}

.scrollbar::-webkit-scrollbar {
    border-radius: 0.25em;
    width: 3px;
    background-color: var(--color-bg);
}

// .scrollbar::-webkit-scrollbar-button:single-button {
//     background-color: var(--color-bg);
//     display: block;
//     border-style: solid;
//     height: 10px;
//     width: 5px;
// }
// .scrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
//     border-width: 0 1px 1px 1px;
//     border-color: transparent transparent var(--color-text) transparent;
// }
// .scrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
//     border-width: 1px 1px 0 1px;
//     border-color: var(--color-text) transparent transparent transparent;
// }

.scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-bg); 
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.25em;
    width: 3px;
    background-color: var(--color-text); 
}