.IconButton {
    width: calc(260px + 1vw);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: fit-content(100%) auto;
    justify-items: center;
    align-items: center;

    font-family: "Source Sans Pro", sans-serif;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);

    transition: var(--msecs-300) border-color;
}
.IconButton:hover {
    cursor: pointer;
    border-color: var(--color-text);
    transition: var(--msecs-300) border-color;
}
.IconButton:focus {
    outline: none;
    border-color: var(--color-text);
}

.IconButton img {
    width: 65px;
}

.IconButton span {
    font-size: 22px;
    color: var(--color-text);
    font-weight: var(--fontWeight-light);
}

.button {
    width: 100%;
    color: var(--color-border);
    padding: 0.3em;
    font-size: calc(14px + 0.5vw);
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);

    transition: var(--msecs-300) border-color, var(--msecs-300) color;
}
.button:hover {
    cursor: pointer;
    color: var(--color-link);
    border-color: var(--color-link);
    transition: var(--msecs-300) border-color, var(--msecs-300) color;
}
.button:focus {
    outline: none;
}

.button--pulse {
    color: var(--color-link);
	background-color: var(--color-bg);
    border: 1px solid var(--color-link);

	box-shadow: 0 0 0 0 var(--color-link-0p7);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.button--pulse:hover {
    animation: none;
}

@keyframes pulse {
    to {
		box-shadow: 0 0 0 10px var(--color-link-0);
	}    
}