/*
Home page outer container
*/
.Home {    
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 20px;
    justify-items: center;
}

/*
Solo PlayerCard container
*/
.Home-randomizer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

/*
The "Killer" and Survivor options for the randomizer.

.Home-randomizer-vertical-separator     -   A line separating the 2 options for the randomizer
.HomeRadioText-label                  -   The label that's displayed instead of the radio input circle
.HomeRadioText-label:hover            -   Cursor->Pointer and text color change
.HomeRadioText-label--active          -   Changes text color if it is selected
.HomeRadioText-label:hover            -   Cursor->Pointer
*/
.Home-randomizer-options,
.Home-randomizer-options--mobile {
    display: grid;

}
.Home-randomizer-options {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 2.4em;
    margin: 2em 0;
}
.Home-randomizer-options--mobile {
    grid-template-columns: 2fr 1fr 2fr;
}
.Home-randomizer-vertical-separator {
    width: 1px;
    height: 70px;

    background-color: var(--color-inactive);
    
    justify-self: center;
    align-self: center;
}
.HomeRadioText {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.HomeRadioText input[type="radio"] {
    display: none;
}


.HomeRadioText:first-child,
.HomeRadioText:last-child {
    justify-content: flex-end;
}
.HomeRadioText-label,
.HomeRadioText-label--mobile {
    cursor: pointer;
    font-weight: 600;
    font-size: calc(24px + 1.2vw);
    
    color: var(--color-inactive);
    transition: color 0.3s;
}
.HomeRadioText-label:hover,
.HomeRadioText-label--mobile:hover {
    color: var(--color-link);
    transition: color 0.3s;
}
.HomeRadioText-label--mobile {
    font-size: 24px;
}
.HomeRadioText-label--active,
.HomeRadioText-label--mobile--active {
    cursor: pointer;
    color: var(--color-link);
    font-weight: 600;
    font-size: calc(24px + 1.2vw);
}

.HomeRadioText-label--mobile--active {
    font-size: 24px;
}